<div style="padding-top: 10%" class="background_img">
    <div ng-app="tabledata" ng-controller="tabledataController" class="container">
        <div class="card col-md-8 offset-md-2 text-black bg-light mb-3">
            <div class="card-body" ng-show='showtable'>
                <form ng-submit="form.$valid && showColoumns()" name="form1" class="form-group" novalidate>
                    <div>
                        <label><b>Survey name </b><i Style="color: red">*</i></label>
                        <input class="form-control" name="name" type="text" ng-model="tableInfo.tablename" required>
                        <div style="color: red" ng-show="form1.$submitted && form1.name.$error.required">Survey Name is
                            required</div>
                    </div><br>
                    <div>
                        <label><b>Description </b><i Style="color: red">*</i></label>
                        <input class="form-control" type="text" name="description" ng-model="tableInfo.description"
                            required>
                        <div style="color: red" ng-show="form1.$submitted && form1.description.$error.required">Description
                            is
                            required</div>
                    </div><br>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            <div class="card-body" ng-show='!showtable'>

                <button style="margin-left: 10px" class="btn btn-danger float-right" ng-click="removeColumn()"><i class="fas fa-minus-circle"></i></button>
                <button class="btn btn-primary float-right" ng-click="addNewColumn()"><i class="fas fa-plus-circle"></i></button><br><br>
                <form ng-submit="form.$valid && submit()" name="form" class="form-group" novalidate>
                    <fieldset ng-repeat="column in columns track by $index">
                        <!-- {{column}} -->
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name <i Style="color: red">*</i></label>
                                <input class="form-control" type="text" ng-model="column.ColInfo.name" name="colname{{$index}}"
                                    placeholder="Column Name" required>
                                <div style="color: red" ng-show="form.$submitted && form.colname{{$index}}.$error.required">Name
                                    is required</div>
                            </div>
                            <div class="col-md-6">
                                <label> Primary Key</label>
                                <input class="form-control" type="checkbox" name="constraints" ng-model="column.ColInfo.constraints"><br>
                            </div>
                            <div class="col-md-12">
                                <label>Label <i Style="color: red">*</i></label>
                                <input class="form-control" type="text" ng-model="column.ColInfo.label" name="label{{$index}}"
                                    required>
                                <div style="color: red" ng-show="form.$submitted && form.label{{$index}}.$error.required">Label
                                    is required</div>
                            </div>
                            <div class="col-md-6">
                                <label>Field type <i Style="color: red">*</i></label>
                                <select class="form-control" name="coltype{{$index}}" ng-model="column.ColInfo.type"
                                    required>
                                    <option value="" selected>select</option>
                                    <option value="text">Text</option>
                                    <option value="varchar">Email</option>
                                    <option value="integer">Number</option>
                                    <option value="bigint">Big Number</option>
                                    <option value="date">Date</option>
                                    <option value="dropdown">Dropdown</option>
                                </select>
                                <div style="color: red" ng-show="form.$submitted && form.coltype{{$index}}.$error.required">Field
                                    Type is required</div>
                            </div>
                            <div class="col-md-6" ng-if="column.ColInfo.type == 'dropdown'">
                                <label>Dropdown Value</label>
                                <a class="btn btn-primary float-right" ng-click="dropdown($index)"><i class="fas fa-plus-circle"></i></a>
                                <div ng-repeat="dropdown in dropdownlist[$index] track by $index">
                                        <!-- {{$index}}dd{{column.colId}} -->
                                    <input id="{{$index}}dd{{column.colId}}" class="form-control" name="{{$index}}dd{{column.colId}}" type="text" ng-model="column.ddlist[(dropdown.id)]"><br>
                                </div>
                            </div>
                        </div>
                    </fieldset><br>
                    <button class="btn btn-warning float-left" type="reset">Reset</button>
                    <button class="btn btn-primary float-right" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>