<!-- <style>
    .createTable{
            background-image: url('../images/signbg.jpg');
            background-size: cover; 
            height: 100vh;
            /* color:rgb(235, 62, 32); */
                
        }
</style> -->

<div style="padding-top: 10%" class="background_img">
    <div ng-app="tabledata" ng-controller="tabledataController" class="container">
        <div  class="card col-md-8 offset-md-2 text-black bg-light mb-3">
            <div class="card-body" ng-show='showtable'>
                <form ng-submit="form.$valid && showColoumns()" name="form1" class="form-group" novalidate>
                    <div>
                        <label><b>Table name </b><i Style="color: red">*</i></label>
                        <input class="form-control" name="name" type="text" ng-model="tableInfo.tablename" required>
                        <div style="color: red" ng-show="form1.$submitted && form1.name.$error.required">Table Name is
                            required</div>
                    </div><br>
                    <div>
                        <label><b>Description </b><i Style="color: red">*</i></label>
                        <input class="form-control" type="text" name="description" ng-model="tableInfo.description"
                            required>
                        <div style="color: red" ng-show="form1.$submitted && form1.description.$error.required">Description
                            is
                            required</div>
                    </div><br>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
            <div class="card-body" ng-show='!showtable'>

                <button style="margin-left: 10px" class="btn btn-danger float-right" ng-click="removeColumn()"><i class="fas fa-minus-circle"></i></button>
                <button class="btn btn-primary float-right" ng-click="addNewColumn()"><i class="fas fa-plus-circle"></i></button><br><br>
                <form ng-submit="form.$valid && submit()" name="form" class="form-group" novalidate>
                    <fieldset ng-repeat="column in columns track by $index">
                        <div class="row">
                            <div class="col">
                                <label>Column Name *</label>
                                <input class="form-control" type="text" ng-model="column.ColInfo.name" name="colname{{$index}}"
                                    placeholder="Column Name" required>
                                <div style="color: red" ng-show="form.$submitted && form.colname{{$index}}.$error.required">Column
                                    Name is required</div>
                            </div>
                            <div class="col">
                                <label>Column type *</label>
                                <select class="form-control" name="coltype{{$index}}" ng-model="column.ColInfo.type"
                                    required>
                                    <option value="" selected>select</option>
                                    <option value="text">Text</option>
                                    <option value="varchar">Email</option>
                                    <option value="integer">Integer</option>
                                    <option value="bigint">Big Int</option>
                                    <option value="date">Date</option>
                                </select>
                                <div style="color: red" ng-show="form.$submitted && form.coltype{{$index}}.$error.required">Column
                                    Type is required</div>
                            </div>
                            <div class="col">
                                <label> Primary Key</label>
                                <input class="form-control" type="checkbox" name="constraints" ng-model="column.ColInfo.constraints"><br>
                            </div>
                        </div>
                    </fieldset><br>
                    <button class="btn btn-warning float-left" type="reset">Reset</button>
                    <button class="btn btn-primary float-right" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>