<!-- <div class="container" ng-app="login" ng-controller="loginController" >
    <div class="card col-md-5 offset-md-3 text-white bg-secondary mb-3" ng-style="style">
        <div class="card-body">
            <form class="form-group" ng-submit="form.$valid && login()" name="form" novalidate>
                <div>
                    <label><b>Username </b><span>*</span></label>
                    <input id="text" name="text" class="form-control" type="text" placeholder="Enter Username" ng-model="loginDetails.username"
                        required>
                    <span style="color: red" ng-show="form.$submitted && form.text.$error.required">Username is
                        Required</span>
                </div><br>
                <div>
                    <label><b>Password </b><span>*</span></label>
                    <input name="password" id="password" class="form-control" type="password" placeholder="Enter Password"
                        ng-model="loginDetails.password" required>
                    <span style="color: red" ng-show="form.$submitted && form.password.$error.required">Please enter
                        the password</span>
                </div>
                <div align="center">
                    <br><button class="btn btn-primary form-control" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div> -->

<!-- <style>
    .login{
        background-image: url('../images/pexels-photo-207301.jpeg');
        background-size: cover; 
        height: 100vh;
        color:rgb(235, 62, 32);
            
    }
</style> -->


<div class="login">
    <div class="container"  ng-app="login" ng-controller="loginController" >
        <div style="padding-top: 10%" class="col-md-5 offset-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                </div>
                <div class="card-body">
                    <form class="form-group" ng-submit="form.$valid && login()" name="form" novalidate>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="text" name="text" type="text" class="form-control" placeholder="username"
                                ng-model="loginDetails.username" required>
                            <span style="color: red" ng-show="form.$submitted && form.text.$error.required">Username
                                is
                                Required</span>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input name="password" id="password" type="password" class="form-control" placeholder="password"
                                ng-model="loginDetails.password" required>
                            <span style="color: red" ng-show="form.$submitted && form.password.$error.required">Password
                                is
                                required</span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn btn-primary form-control">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?<a href="#!/registration">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>